BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
TabWidth: 2
IndentWidth: 2
NamespaceIndentation: Inner
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
BraceWrapping:
  AfterStruct: true

AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
IndentRequiresClause: false

BreakBeforeBinaryOperators: All
AlignOperands: Align
AllowShortLambdasOnASingleLine: All
ContinuationIndentWidth: 2
