BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
TabWidth: 2
IndentWidth: 2
NamespaceIndentation: Inner
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
BraceWrapping:
  AfterStruct: true

AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
IndentRequiresClause: false
