[submodule "include/raylib-cpp"]
	path = include/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
[submodule "dependencies/raylib-cpp"]
	path = dependencies/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp/
